@media (min-width: 768px) {
  .navbar-form {
    display: inline-block;
  }
}

.cart {
  color: #FFF;
  display: inline-block;
  padding-left: 20px;

  @media (max-width: 768px) {
    float: right;
  }

  .number {
    font-size: 30px;
  }

  .label {
    font-size: 15px;
  }

  div {
    display: inline-block;
    vertical-align: middle;
  }
}

.menubar {
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  margin-top: 60px;
}
