.product-list {
  .product {
    border: 1px solid #CCC;
    margin-bottom: 20px;
    padding: 7px;

    img {
      width: 100%;
      margin-bottom: 5px;
    }

    a {
      text-decoration: none;
    }

    .name {
      margin: 0 5px;
      text-align: center;
      text-transform: uppercase;
      a {
        color: #3E3D3D;
      }
    }

    .price {
      margin: 0 5px;
      text-align: center;
      a {
        color: #7C7B7B;
      }
    }
  }
}
